@model PhotoApp.Models.Kep

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Kep</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="cim" class="control-label"></label>
                <input asp-for="cim" class="form-control" />
                <span asp-validation-for="cim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="orszag_id" class="control-label"></label>
                <input asp-for="orszag_id" class="form-control" asp-items="ViewBag.orszag_id" />
                <span asp-validation-for="orszag_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ertekeles" class="control-label"></label>
                <input asp-for="ertekeles" class="form-control" min="0" max="10" step="1" />
                <span asp-validation-for="ertekeles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="album_id" class="control-label"></label>
                <select asp-for="album_id" class="form-control" asp-items="ViewBag.album_id"></select>
                <span asp-validation-for="album_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="felhasz_id" class="control-label"></label>
                <select asp-for="felhasz_id" class="form-control" asp-items="ViewBag.felhasz_id"></select>
                <span asp-validation-for="felhasz_id" class="text-danger"></span>
            </div>


            <div class="form-group" hidden>
                <label class="control-label">fenykep</label>
                <input asp-for="fenykeputvonal" class="form-control" value="photo" />
                <span asp-validation-for="fenykeputvonal" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label class="control-label">fenykep</label> <br />
                <input asp-for="ImageFile" type="file" name="ImageFile" class="form-control-file" accept="image/jpeg,image/jpg,image/png" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>

            </div>





            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if((@ViewBag.felhasz_role==1) || (@ViewBag.created_felhasz_id==@ViewBag.logged_felhasz_id)){
        <a asp-action="Delete" asp-route-id="@Model?.id">Delete</a> 
        <a asp-action="Details" asp-route-id="@Model.id">Details</a>
    }
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
