@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Connected</title>
</head>
<body>
    @if ((bool)ViewBag.IsConnected)
    {
        <p>CONNECTED</p>
    }
    else
    {
        <p>FAILED TO CONNECT!</p>
    }
</body>
</html>
