@model PhotoApp.Models.Felhasznalo;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Regist</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

     <style>
    .login-container {
      margin-top: 5%;
    }
  </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 login-container">
                <div>
                    @if (ViewData["ValidateMessage"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["ValidateMessage"]
                        </div>
                    }
                </div>
                <form asp-controller="Access" asp-action="Regist" method="post">    
                    <div class="mb-3">
                        <label class="form-label">Felhasználónév</label>
                        <input type="text" asp-for="nev" class="form-control" autocomplete="off">
                        <span asp-validation-for="nev" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" asp-for="email" class="form-control" autocomplete="off">
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Jelszó</label>
                        <input type="password" asp-for="jelszo" class="form-control" name="password">
                        <span asp-validation-for="jelszo" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Jelszó megismétlése</label>
                        <input type="password" asp-for="jelszo" class="form-control" name="password_check"> 
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Születés dátuma</label>
                        <input type="date" asp-for="szuletes_datuma" class="form-control" value="2000-01-01">
                        <span asp-validation-for="szuletes_datuma" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Regisztráció</button>
                   
                </form>

                <div>
                    Van már fiókja? Az <a asp-action="Login">alábbi linken</a> tud be tud lépni.
                </div>

            </div>
        </div>
    </div>
</body>
</html>
